.Icon-color{
    font-weight: bold;
    
}

.Icon-color:hover{
    
    font-weight: 900;
}
.Button {
    width: 250px;
    height: 40px;
	color : red;
	background-color: white;
	transition: 0.9s cubic-bezier(0.2, 1, 0.2, 1);
    border-radius: 2px;
    font-weight: 600;
    border: 1px solid #CCCCCC;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
}

.Button:hover {
	background-color:  red ;
	border: 0.1px solid  #5A6268;
	transform: translateY(-0.8px);
	box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25);
	border-radius: 2px;
	color: white;
}

.Rating{

    border: none;
}

.Review-btn{
    width: 275px;
    height: 40px;
    color : yellowgreen;
    font-weight: 700;
    background-color: white;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
    border-radius: 2px;
}

.Review-btn:hover{
    background-color: yellowgreen;
    color: white;
}
.Review-comment{
    width: 275px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}